*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    
}
.img
{
    background: url(/src/image/zori.jpg) no-repeat center / cover;    
    width: 100%; 
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    filter: brightness(0.7);
}
section
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container
{
    background: rgba(0, 0, 0, 0.8);
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    height: 600px;
    box-shadow: 
        0 0 30px rgba(0, 0, 0, 0.8),
        0 0 30px rgba(0, 0, 0, 0.8),
        0 0 30px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container::before,
.container::after
{
    content: '';
    display: block;
    width: 600px;
    height: 600px;
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 1;
    transform-origin: bottom right;
    animation: anime 6s linear infinite;
}
.container::before
{
    background:
        linear-gradient(0deg,
        transparent,transparent,
        #2b99c5 , #2b99c5 , #2b99c5);
}
.container::after
{
    background:
        linear-gradient(0deg,
        transparent,transparent,
        #e6ff04 , #e6ff04 , #e6ff04);
        animation-delay: -3s;
}


@keyframes anime
{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}
.box
{
    background: #11111d;
    width: 580px;
    height: 580px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box h2
{
    color: rgba(255, 235, 205, 0.619);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4px;
    position: absolute;
    top: 70px;
}
.box form
{
 width: 300px;

}
.box form div
{
    width: 100%;
    margin: 30px 0 0 0;
    position: relative;
}
.box form div input
{
    background: transparent;
    width: 100%;
    padding: 12px 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    z-index: 10;

}
.box form div span
{
    width: 100%;
    padding: 12px 0;
    color: rgb(11, 94, 93);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    transition: 0.5s;
    position: absolute;
    left: 0
}
.box form div input:valid ~ span ,
.box form div input:focus ~ span
{
    color: #fff;
    font-size: 14px;
    transform: translateY( -80% );
    
}
.box form div i
{
    background: #fff;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
}
.box form div input:valid ~ i ,
.box form div input:focus ~ i
{
    height: 100%;

}

.box form input[ type="submit" ]
{
    display: block;
    background: transparent;
    padding: 10px 30px;
    margin:  30px auto 0 auto;
    border: solid 2px #171942;
    box-shadow: 
        0 0 5px #181632,
        0 0 10px #1a164f;
        color: rgb(145, 169, 191);
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.5s;

}

.box form input[ type="submit" ]:hover
{
    background: #181632;
    color: #fff;
}
.box-form
{
    background: #141423;
    width: 580px;
    height: 580px;
    position: absolute;
    z-index: 11;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    transform: translateY(510px);

}
.box-form h2
{
    top: 0;
    cursor: pointer;
    padding: 23px 100px;
    font-size: 22px;
    transition: 0.8s;
}

.box-form [ type="button"]
{
    background: url(/src/image/icons8-выбритое-лицо-64.png) no-repeat;
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    display: flex;
    left: 257px;
    top: 130px;
    cursor: pointer;
}
.close
{
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    transition: 0.5s;
}
.close::before,
.close::after
{
    content: '';
    display: block;
    background: #cebaba;
    width: 26px;
    height: 2px;
    position: absolute;
    top: 24px;
    left: 12px;
    transition: 0.5s;
}
.close::before
{
    transform: rotate( -45deg );
}
.close::after
{
    transform: rotate( 45deg );
}
.close:hover
{
    background: #fff;
    
}
.close:hover::before ,
.close:hover::after
{
background: #031015;
}
.box-form-open
{
    transform: translateY( 0 );
}
.box-form-open h2
{
    cursor: auto;
    top: 70px;
    font-size: 20px;

}
.google-login
{

    background: url(/src/image/icons8-google-48.png) no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    display: flex;
    right: 400px;
    top: 200px;
    cursor: pointer;
}

.my-account
{
    background: #171942;
    height: 50vh;
    width: 50vh;
    position: absolute;
    text-align: center;
    align-items: center;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
}

#accesscamera {
    position: relative;
    z-index: 0;
    background: transparent;
    padding: 10px 30px;
    margin: 0;
    top: 10px;
    border: solid 2px #171942;
    box-shadow: 0 0 5px #181632, 0 0 10px #1a164f;
    color: rgb(145, 169, 191);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

#profile_photo_input {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    opacity: 0;

    cursor: pointer;
}